In [6]:
import sqlite3
import pandas as pd

# Connect to SQLite database
database_path = "Datasets/database/longlist.db"
conn = sqlite3.connect(database_path)

# Corrected Nested Query: Find books by a specific publisher
query_nested = """
    SELECT title FROM books 
    WHERE publisher_id = (SELECT id FROM publishers WHERE publisher = ?)
"""
publisher_name = "MacLehose Press"

df_books_nested = pd.read_sql(query_nested, conn, params=(publisher_name,))
print("\nBooks by MacLehose Press (Nested Query):\n", df_books_nested)

# Close connection
conn.close()

Books by MacLehose Press (Nested Query):
                        title
0             Standing Heavy
1  Jimi Hendrix Live in Lviv
2     An Inventory of Losses
3      The Faculty of Dreams
4     The Shape of the Ruins
5               The Impostor
6           Vernon Subutex 1

In [5]:
# Connect to SQLite database
database_path = "Datasets/database/longlist.db"
conn = sqlite3.connect(database_path)
# Query 4: Find books by nested query
df_books_nested = pd.read_sql("""
    SELECT title FROM books WHERE publisher_id = (
        SELECT id FROM publishers WHERE publisher = 'MacLehose Press'
    )""", conn)
print("\nBooks by MacLehose Press (Nested Query):\n", df_books_nested)

Books by MacLehose Press (Nested Query):
                        title
0             Standing Heavy
1  Jimi Hendrix Live in Lviv
2     An Inventory of Losses
3      The Faculty of Dreams
4     The Shape of the Ruins
5               The Impostor
6           Vernon Subutex 1

In [ ]:
#Example: Find Books by Multiple Publishers
database_path = "Datasets/database/longlist.db"
conn = sqlite3.connect(database_path)
# Example: Find Books by Multiple Publishers

publishers = ["MacLehose Press", "Scribe UK"]
# publishers = ["MacLehose Press"]

placeholders = ", ".join(["?"] * len(publishers))  # Generates: "?, ?"

query = f"""
    SELECT title FROM books 
    WHERE publisher_id IN (
        SELECT id FROM publishers WHERE publisher IN ({placeholders})
    )
"""

df_books = pd.read_sql(query, conn, params=publishers)
print(df_books)

                                     title
0                           Standing Heavy
1                Jimi Hendrix Live in Lviv
2   A System So Magnificent It Is Blinding
3                   An Inventory of Losses
4                          The Eighth Life
5                                  At Dusk
6               The Death of Murat Idrissi
7                    The Faculty of Dreams
8                   The Shape of the Ruins
9                             The Impostor
10                        Vernon Subutex 1

In [14]:
# # 2. Using Named Parameters
# database_path = "Datasets/database/longlist.db"
# conn = sqlite3.connect(database_path)
# query = """
#     SELECT title FROM books 
#     WHERE translator_id = :translator AND publisher_id = (
#         SELECT id FROM publishers WHERE publisher = :publisher
#     )
# """

# params = {"translator": 5, "publisher": "MacLehose Press"}

# df_books = pd.read_sql(query, conn, params=params)
# print(df_books)

In [ ]:
search_term = "H%"  # Matches any title starting with 'Harry'

query = """
    SELECT title FROM books 
    WHERE title LIKE ?
"""

df_books = pd.read_sql(query, conn, params=(search_term,))
print(df_books)

                   title
0                 Heaven
1  Happy Stories, Mostly
2       Hurricane Season

In [17]:
page = 2
page_size = 10
offset = (page - 1) * page_size  # Calculate offset dynamically

query = """
    SELECT title FROM books 
    ORDER BY title 
    LIMIT ? OFFSET ?
"""

df_books = pd.read_sql(query, conn, params=(page_size, offset))
print(df_books)

                                        title
0  Drive Your Plow Over the Bones of the Dead
1                                 Elena Knows
2               Faces on the Tip of My Tongue
3                                     Flights
4                               Four Soldiers
5                     Frankenstein in Baghdad
6                              Go, Went, Gone
7                       Happy Stories, Mostly
8                                      Heaven
9                            Hurricane Season