In [3]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect("cyberchase.db")

# Create a cursor object
cursor = conn.cursor()

In [ ]:
# Get database info: List all tables
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(tables_query, conn)
print("Database Tables:\n", tables)

Database Tables:
        name
0  episodes

In [5]:
# Get column info for the 'episodes' table
columns_query = "PRAGMA table_info(episodes);"
columns = pd.read_sql(columns_query, conn)
print("\nTable Schema for 'episodes':\n", columns)

Table Schema for 'episodes':
    cid               name     type  notnull dflt_value  pk
0    0                 id  INTEGER        0       None   1
1    1             season  INTEGER        0       None   0
2    2  episode_in_season  INTEGER        0       None   0
3    3              title     TEXT        0       None   0
4    4              topic     TEXT        0       None   0
5    5           air_date  NUMERIC        0       None   0
6    6    production_code     TEXT        0       None   0

In [ ]:
# Connect to SQLite database
conn = sqlite3.connect("cyberchase.db")

# Query 1: Get the first 5 episodes
df = pd.read_sql("SELECT * FROM episodes LIMIT 5", conn)
print("\nFirst 5 Episodes:\n", df)

# Query 2: Count total episodes
df_count = pd.read_sql("SELECT COUNT(*) AS total_episodes FROM episodes", conn)
print("\nTotal Episodes:\n", df_count)

# Query 3: Episodes from Season 3
df_season3 = pd.read_sql("SELECT * FROM episodes WHERE season = 3", conn)
print("\nEpisodes from Season 3:\n", df_season3)

# Query 4: Most recent 5 episodes by air date
df_recent = pd.read_sql("SELECT * FROM episodes ORDER BY air_date DESC LIMIT 5", conn)
print("\nMost Recent Episodes:\n", df_recent)

# Query 5: Most frequent topic
df_topic = pd.read_sql("""
    SELECT topic, COUNT(*) AS topic_count 
    FROM episodes 
    GROUP BY topic 
    ORDER BY topic_count DESC 
    LIMIT 1
""", conn)
print("\nMost Frequent Topic:\n", df_topic)

# Close connection
conn.close()

In [6]:

# Query data and convert to DataFrame
df = pd.read_sql("SELECT * FROM episodes LIMIT 5", conn)

# Close connection
conn.close()

# Print DataFrame
print("\nData from 'episodes' table:\n", df)

Data from 'episodes' table:
    id  season  episode_in_season                 title  \
0   1       1                  1       Lost My Marbles
1   2       1                  2          Castleblanca
2   3       1                  3           R-Fair City
3   4       1                  4  Snow Day to be Exact
4   5       1                  5        Sensible Flats

                          topic    air_date production_code
0                    Navigation  2002-01-21          CYB001
1  Data Collection and Analysis  2002-01-22          CYB010
2        Probability and chance  2002-01-23          CYB004
3                    Estimation  2002-01-24          CYB007
4                          Area  2002-01-25          CYB005