In [1]:
import sqlite3
import shutil

# Define database paths
original_db_path = "../Datasets/database/longlist.db"
copied_db_path = "Outputs/long_list_changed.db"

# Make a copy of the original database
shutil.copy(original_db_path, copied_db_path)
print("Database copied to 'Outputs/long_list_changed.db'.")

# Connect to the copied database
conn = sqlite3.connect(copied_db_path)
cursor = conn.cursor()

Database copied to 'Outputs/long_list_changed.db'.
Database operations completed.

In [ ]:

# 1. Demonstrates removing a table (Example: Removing 'ratings' table)
cursor.execute("DROP TABLE IF EXISTS ratings;")
print("Table 'ratings' removed.")

In [ ]:

# 2. Demonstrates renaming a table (Example: Renaming 'publishers' to 'book_publishers')
cursor.execute("ALTER TABLE publishers RENAME TO book_publishers;")
print("Table 'publishers' renamed to 'book_publishers'.")

In [ ]:

# 3. Demonstrates adding a column to a table (Example: Adding 'genre' column to 'books')
cursor.execute("ALTER TABLE books ADD COLUMN genre TEXT;")
print("Column 'genre' added to 'books'.")

In [ ]:

# 4. Demonstrates renaming a column (Example: Renaming 'format' to 'book_format' in 'books')
cursor.execute("ALTER TABLE books RENAME COLUMN format TO book_format;")
print("Column 'format' renamed to 'book_format' in 'books'.")

In [ ]:

# Commit changes and close connection
conn.commit()
conn.close()
print("Database operations completed.")