# Multi-level indexing allows you to store data on multiple dimensions

### 1. Creating a Multi-Level Index from Tuples

In [ ]:
import pandas as pd
import numpy as np

# Define levels: days and meals
days = ['Day 1', 'Day 1', 'Day 1', 'Day 2', 'Day 2', 'Day 2']
meals = [1, 2, 3, 1, 2, 3]

# Create a list of tuples combining both levels
hier_index = list(zip(days, meals))

# Convert to a MultiIndex
multi_index = pd.MultiIndex.from_tuples(hier_index, names=['Day', 'Meal'])

# Generate a random dataset (e.g., calories eaten per meal)
data = np.random.randint(500, 700, size=(6, 2))

# Create a DataFrame with multi-level index
df = pd.DataFrame(data, index=multi_index, columns=['M', 'F'])

print(df)

              M    F
Day   Meal
Day 1 1     560  565
      2     665  645
      3     645  622
Day 2 1     516  622
      2     588  680
      3     635  578

In [5]:
# For better readability, we can assign meaningful names to the index levels:

df.index.names = ['Day', 'Meal']

print(df)

              M    F
Day   Meal
Day 1 1     560  565
      2     665  645
      3     645  622
Day 2 1     516  622
      2     588  680
      3     635  578

### 2. Selecting Data with Multi-Level Indexing

In [6]:
# Get all meals for 'Day 1'
df.loc['Day 1']

        M    F
Meal
1     560  565
2     665  645
3     645  622

In [ ]:
# Get data for a specific meal (e.g., meal 1 on Day 1)
df.loc['Day 1', 1]

M    560
F    565
Name: (Day 1, 1), dtype: int32

In [ ]:
# Get a specific value: calories eaten by females on Day 2, meal 2
df.loc['Day 2', 2]['F']

The .xs() method allows for quick selection based on a specific index level.

In [7]:
# Get all data for 'Day 2'
df.xs('Day 2')

        M    F
Meal
1     516  622
2     588  680
3     635  578

In [ ]:
# Get all data for Meal 1 across all days
df.xs(1, level='Meal')

         M    F
Day
Day 1  560  565
Day 2  516  622

### Creating Multi-Level Index from a DataFrame

In [ ]:
# Create a sample DataFrame
# this is missing terms
data_dict = {
    'Day': ['Day 1', 'Day 1', 'Day 1', 'Day 2', 'Day 2', 'Day 2'],
    'Meal': [1, 2, 3, 1, 2, 3],
    'Gender': ['M', 'F', 'M', 'F', 'M', 'F'],
    'Calories': [600, 550, 620, 580, 630, 590]
}

df_flat = pd.DataFrame(data_dict)

print(df_flat)
# Convert to a pivot table with multi-level indexing
df_pivot = df_flat.pivot_table(values='Calories', index=['Day', 'Meal'], columns='Gender')

print(df_pivot)

     Day  Meal Gender  Calories
0  Day 1     1      M       600
1  Day 1     2      F       550
2  Day 1     3      M       620
3  Day 2     1      F       580
4  Day 2     2      M       630
5  Day 2     3      F       590